@using MProjectWeb.ViewModels;
@using Microsoft.AspNet.Http;

@{
    Layout = null;

}

<div class="row">
    <h1 class="page-header col-md-11 col-xs-11">
        <!-- Title of page -->
        Actividades
    </h1>
    @{
            bool back = Convert.ToBoolean(ViewBag.back);

            if (back)
            {
            <div class="col-md-1 col-xs-1"
                 id="back-folder"
                 idCar="@ViewBag.idCar"
                 usuCar="@ViewBag.usuCar"
                 keym="@ViewBag.keym">

                <span id="icon-back" class="left fa fa-arrow-circle-left"></span>
            </div>
        }
    }
</div>
@{
                bool st = Convert.ToBoolean(ViewBag.st);
                if (!st)
                {
        <div>
            <div class="alert alert-info fade in center-block" style="position:relative;width:100%">
                <a  class="close" data-dismiss="alert">&times;</a>
                <strong>Nota!</strong>
                No hay actividades para mostrar correspondientes a este proyecto.
            </div>
        </div>
    }
    else
    {
        <div >
            @{
                long sd = -1;
                List<ActivityList> act_lst = ViewBag.act_lst;
                int nx=0;
                while (nx < act_lst.Count)
                {
                    <div class="row row-act">
                        @{ 
                            int n = 0;
                            for(int i= 0; i < 3; i++)
                            {
                                if (nx < act_lst.Count)
                                {
                                    ActivityList x = act_lst[nx];
                                    if (x.folder == 0)
                                    {
                                        <div class="col-lg-4 col-md-6">
                                            <div class="panel pan-fol">
                                                @{
                                                    long usuAct = Convert.ToInt64(ViewBag.usuAct);
                                                    long usuCar = x.usuCar;
                                                    if (usuCar ==  usuAct)
                                                    {
                                                        <script>
                                                            $(".pan-fol").addClass('panel-primary');
                                                            $(".pan-fol").removeClass('panel-default');
                                                        </script>
                                                    }
                                                    else
                                                    {
                                                        <script>
                                                            $(".pan-fol").addClass('panel-default');
                                                            $(".pan-fol").removeClass('panel-primary');
                                                        </script>
                                                    }
                                                }
                                                <div class="panel-heading open-folder" 
                                                     idCar="@x.idCar" usuCar="@x.usuCar" keym="@x.keym">
                                                    <div class="row">
                                                        <div class="col-xs-3">
                                                            <i class="fa fa-folder-open fa-5x"></i>
                                                        </div>
                                                        <div class="col-xs-9 text-right">
                                                            <div style="position:relative; font-size:30px"
                                                                 class="text-right">
                                                                @x.nom
                                                            </div>
                                                            <hr />
                                                            <div class="row" style="margin-right:3px">
                                                                @x.desc
                                                            </div>
                                                            <hr style="width:50%; margin-right:0"/>
                                                            <div class="row" style="margin-right:3px">
                                                                Estado:  @x.sta
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--   footer  -->
                                                <div class="opt_footer dropdown" style="min-height:31px;">
                                                    <button style="position:relative;width:100%;height:30px;border:none;/*background-color:transparent*/" class="btn text-left pull-left dropdown-toggle"
                                                            type="button" id="dropdown_opt_footer" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="true">
                                                        Opciones
                                                        <span class="pull-right"><i class="fa fa-plus-circle"></i></span>
                                                    </button>
                                                    <ul class="dropdown-menu"
                                                        aria-labelledby="dropdown_opt_footer"
                                                        style="position:relative;width:100%"
                                                        idCar="@x.idCar" usuCar="@x.usuCar" keym="@x.keym">
                                                        <li><a class="opt_footer_files">Archivos/Documentos</a></li>
                                                        <li><a class="opt_footer_statistics">Estadisticas</a></li>
                                                        <li role="separator" class="divider"></li>
                                                        <li><a class="opt_footer_moreInf">Mas Informacion</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else if (x.folder == 1)
                                    {
                                        <div class="col-lg-4 col-md-6">
                                            <div class="panel col-pan" id="panel-@x.keym-@x.idCar-@x.usuCar">
                                                @{
                                                    long usuAct = Convert.ToInt64(ViewBag.usuAct);
                                                    long usuCar = x.usuCar;
                                                    if (usuCar == usuAct)
                                                    {
                                       
                                                        <script>
                                                            //$(".col-pan").removeClass('panel-yellow');
                                                            //$(".col-pan").addClass('panel-green');
                                                            $("#panel-@x.keym-@x.idCar-@x.usuCar").addClass('panel-green');
                                                        </script>
                                                    }
                                                    else
                                                    {
                                                        <script>
                                                            //$(".col-pan").removeClass('panel-green');
                                                            //$(".col-pan").addClass('panel-yellow');
                                                            $("#panel-@x.keym-@x.idCar-@x.usuCar").addClass('panel-yellow');
                                                        </script>
                                                    }
                                                }
                                                <!-- header -->
                                                <div class="panel-heading  open-folder"  
                                                     idCar="@x.idCar" usuCar="@x.usuCar" keym="@x.keym"
                                                     style="height:30px">
                                                    <div class="row">
                                                        <div class="text-center" style="margin-top:-5px">
                                                            @x.nom
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Body -->
                                                <div class="panel-body">
                                                    <div style="margin-left:5px">
                                                        <div class="">
                                                            Descripcion: <span>@x.desc</span>
                                                        </div>
                                                        <hr />
                                                        <div class="">
                                                            Estado: <span>@x.sta</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Footer -->
                                                <div class="opt_footer dropdown" style="min-height:31px;">
                                                    <button style="position:relative;width:100%;height:30px;border:none;/*background-color:transparent*/" class="btn text-left pull-left dropdown-toggle"
                                                            type="button" id="dropdown_opt_footer" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="true">
                                                        Opciones
                                                        <span class="pull-right"><i class="fa fa-plus-circle"></i></span>
                                                    </button>
                                                    <ul class="dropdown-menu"
                                                        aria-labelledby="dropdown_opt_footer"
                                                        style="position:relative;width:100%"
                                                        idCar="@x.idCar" usuCar="@x.usuCar" keym="@x.keym">
                                                        <li><a class="opt_footer_files">Archivos/Documentos</a></li>
                                                        <li><a class="opt_footer_statistics">Estadisticas</a></li>
                                                        <li role="separator" class="divider"></li>
                                                        <li><a class="opt_footer_moreInf">Mas Informacion</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                }
                                nx++;
                            }
                        }
                    </div>
                }

              
                <script>
                    $(".opt_footer_files").click(function () {
                        var keym = $(this).parent().parent().attr("keym");
                        var car = $(this).parent().parent().attr("idCar");
                        var usu = $(this).parent().parent().attr("usuCar");

                        showFiles(keym, usu , car, "img", ""); //keym,usu,car,type, text=>palabra o frase a buscar
                    });
                    $(".opt_footer_statistics").click(function () {
                        var keym = $(this).parent().parent().attr("keym");
                        var car = $(this).parent().parent().attr("idCar");
                        var usu = $(this).parent().parent().attr("usuCar");
                        //var x = "Context.Session.GetString("id_prj")";
                        showCharts(x[0], usu, car);
                    });
                    $(".opt_footer_moreInf").click(function () {
                        var id = $(this).parent().parent().attr("idCar");
                        optionsActivities(id, "ActMoreInfo")
                                    });
                    $(".open-folder").click(function () {
                        var ids = $(this).attr("idCar");
                        var usu = $(this).attr("usuCar");
                        var keym = $(this).attr("keym");
                        openFolder(keym,ids,usu, 1);
                    });
                    $("#back-folder").click(function () {
                        var ids = $(this).attr("idCar");
                        var usu = $(this).attr("usuCar");
                        var keym = $(this).attr("keym");
                        openFolder(keym, ids, usu, 2);
                    });
                </script>
            }
        </div>
    }
}


