@using MProjectWeb.Models.ModelController
@using Microsoft.AspNet.Http;

@using Newtonsoft.Json;
@{
    Layout = "/views/Shared/_Layout.cshtml";
}

<link href="~/css/Index.css" rel="stylesheet" />
<div id="aux" keym="" idUsu="" idCar="">
</div>

<div id="area" class="row" style="margin-left:0px;margin-right:0px">

    

    @{
        bool stPublicProject=false;
        try { stPublicProject = Convert.ToBoolean(ViewBag.stPublicPage); } catch { }
        if (stPublicProject)
        {
            Context.Session.SetString("stFile", "Y");
            <div style="width:90%" class="center-block">

                <div class="asd">
                    <h1 class="page-header">
                        <!-- Title of page -->
                        Proyectos
                        <small>
                            <!-- SubTitle of page -->
                        </small>
                    </h1>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <p class="lead">
                            En esta seccion podra realizar la busqueda de los proyectos y actividades, que poseen
                            una publicacion web visible al publico en general.
                            <br />
                            <div class="alert alert-warning" id="nota">
                                <strong>NOTA: </strong>Para acceder a una publicacion, solo ingrese seleccionando el proyecto que desee. 
                                <br>Recuerde que si desea ingresar a sus subpublicaciones lo podra hacer a traves de la opcion "Paginas Web".

                            </div>
                           
                        </p>
                    </div>
                </div>
                


                <div class="input-group" style="width:80%;margin-left:20%">
                    <input placeholder="Buscar..." class="form-control" id="inpTextWp" type="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-info" id="btnSearchWp" onclick="searchWebPage(inpTextWp.value)">
                            <span class="glyphicon glyphicon-search" style="margin-top:3px"></span>
                        </button>
                    </div>
                </div>

                <div id="tabWp" style="margin-top:50px;">

                    <table class="multHover table table-striped" style="width:90%;margin-left:5%">
                        <thead>
                            <tr style="position:relative;width:100%">
                                <th>Nombre</th>
                                <th style="width:20%">tipo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                List<ListWebPage> lsWp = ViewBag.lsWp;
                                foreach (var x in lsWp)
                                {

                                    <tr style="cursor:pointer" class="goDoc">
                                        <td style="vertical-align:middle">
                                            <a href="@x.ruta">@x.nombre</a>
                                        </td>
                                        <td style="font-size:25px;font-family:'Times New Roman'; font-weight:700">
                                            @x.tipo.ToUpper()
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        }
        else
        {
            Context.Session.SetString("stFile", "Y");
            <img src="~/img/page-not-found.png" style="margin:20px" height="60%" width="60%"/>
        }
    }

</div>


@if (@ViewBag.Pagina != null)
{
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script type="text/javascript">
        var s = "@ViewBag.Pagina";
        //alert(s);
        $("#area").load(s);
        if (window.history.state) {
            var stateObj = { foo: "bar" };
            history.pushState(stateObj, s, s);
        }
        
        myajax('@ViewBag.key', '@ViewBag.idCar', '@ViewBag.idUsu');
    </script>
}

<script>
    var src = document.URL;
    var dat = src.split("=");
    dat = dat[1].split("-");
    try {
        document.getElementById("aux").setAttribute("keym", dat[0]);
        document.getElementById("aux").setAttribute("idUsu", dat[2]);
        document.getElementById("aux").setAttribute("idCar", dat[1]);
    } catch (err) { }
    
    //window.onload = myajax(dat[0],dat[1],dat[2]);
</script>


<script>
        $(".prj_op").click(function () {
            var s = $(this).parent().attr('id').replace(/prj_/gi, "").split('-');
            var keym = s[0];
            var car = s[1];
            var usu = s[2];
            var src = $(this).parent().attr('src');

			$.ajax({
				url: src,
				dataType: 'html',
				success: function(data){
					$('#area').html(data);
				}
			});

			if (window.history.state) {
			    var stateObj = { foo: "bar" };
			    history.pushState(stateObj, src, src);
			}
            myajax(keym, car, usu);
        });
</script>